.fw-100 {
  font-weight: 100;
}

.fwb {
  font-weight: bold;
}

.fw-400 {
  font-weight: 400;
}

img {
  width: 100%;
  vertical-align: middle;
}

/* nav */

.wrapper-logo {
  width: 100%;
  height: 50px;
}

.app-btn {
  font-size: 17px;
  font-weight: 200;
  box-shadow: 1px 1px 8px -4px rgba(0, 0, 0, 0.5),
    1px 1px 4px -4px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 80px;
}

.break-all {
  word-break: break-all;
}
